/* UTILITY */
body {
    font-weight: 600;
    font-size: 16px;
    color: #747f9a;
}

h1, h2, h3, h4, h5 {
    font-weight: 600;
    color: #031c4e;
}

.padding {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.pad-top {
    padding-top: 3rem;
}

.pad-bot {
    padding-bottom: 3rem;
}

.font-siz {
    font-size: 12px;
}

/* NAVBAR */
.nav-bar{
padding:20px;

}

.nav-bar img {
    max-width: 150px;
    vertical-align: middle;
}

.nav-bar .fa-bars {
    font-size: 25px;
    float: right;
    color: #328cfd;
    padding-top: 3px;
}

.nav-bar ul li {
    display: inline-block;
    list-style: none;
    line-height: 35px;
    color: #031c4e;
    padding-right: 10px;
}

.nav-bar .btn {
    padding: 7px;
    border-radius: 6px;
    border: 1px solid #096fff;
    color: #096fff;
    font-weight: 600;
}

/* HERO */
.hero {
    background-image: url(../img/bg-banner-home.jpg);
    padding-left: 20px;
    padding-right: 20px;
}

.hero h1 {
    color: #fff;
    font-size: 55px;
}

.hero p {
    color: #ccc;
    font-size: 22px;
}

/* CARD-G */
.card-g {
    max-width: 100%;
    background: #fff;
    border-radius: 6px;
    text-align: center;
}

.card-g img {
    width: 20px;
    position: absolute;
    left: 25px;
}


.hero .card-g h3 {
    color: #096fff;
}

.hero .card-g p {
    color: #19305d;
}

.terms {
    padding-top: 10px;
}

/* SPONSOR */
.sponsor {
    background: #f3f5f9;
    color: #747f9a;
}

.logo-sponsor {
    width: calc(100% / 2 - 20px);
    margin: 10px;
    float: left;
}

.logo-sponsor img {
    width: 175px;
    vertical-align: middle;
    height: 100px;
    margin: 10px;
}


/* MEDIAQUERY TABLET SPONSOR */
@media screen and (min-width:768px) {
    .logo-sponsor {
        width: calc(100% / 6 - 20px);
    }

    .logo-sponsor img {
        width: 110px;
    }
}

/* MEDIAQUERY DESKTOP SPONSOR */
@media screen and (min-width:1150px) {
    .logo-sponsor img {
        width: 175px;
    }
}

/* DEPLOY E SCALE */
.deploy {
    color: #747f9a;
}

.deploy .row .col-xs-12 ul {
    padding-left: 0;
}

.deploy li {
    list-style: none;
    border-left: 1px solid currentColor;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    color: #747f9a;
}

.deploy .container img {
    padding-bottom: 10px;
    padding-top: 5px,
}

.deploy ul:last-child {
    margin-bottom: 25px;
}

/* DESIGNED */
.designed {
    background: #f3f5f9;
}

.designed .carousel img {
    max-width: 100%;
}

/* INDICATORS */
 .indicators {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #328cfd;
    cursor: pointer;
}

 .indicators.full {
    background: #328cfd;
}

.carousel {
    position: relative;
}

/* ARROW */
 .fa-chevron-left {
    position: absolute;
    left: -50px;
    font-size: 50px;
    top: 40%;
    cursor: pointer;
}

.fa-chevron-right {
    position: absolute;
    right: -50px;
    font-size: 50px;
    top: 40%;
    color: #031c4e;
    cursor: pointer;
}

/* REGIONS */
.regions {
    background: linear-gradient(#0047c5,#00219c);
}

.regions .container h1 {
    color: #fff;
}

.regions .container .bord {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
} 

.regions .container .bord-not {
    border: none;
}

.regions .bord .col-xs-2:first-child {
    color: #fff;
}


/* ROCKERBOX */

.development {
    background: #f3f5f9;
}

.rockerbox {
    margin-top: 70px;
    background: #fff;
}

.rockerbox img {
    width: 100%;
}

/* STARTED */
.started {
    background: linear-gradient(#0047c5,#00219c);
}

.started h1 {
    color: #fff;
    font-size: 55px;
}

/* STARTED*/
.started .btn-create {
    padding: 10px;
    color: #328cfd;
    border-radius: 6px;
    background: #fff;
    border : none;
}

/* FOOTER */
.footer {
    background: #031c4e;
}

.footer a {
    color: #747f9a;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer .about li:first-child a{
    color: #fff;
    font-weight: 600;
}